<h1>User Dashboard</h1>
<p>Membership Level: <%= current_user.subscription_level %></p>
<p><%= link_to "New release", new_release_path %></p>

<h1>Relelases</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Release Name</th>
    <th>Status</th>
    <th>Publish Date</th>
    <th>Last Updated</th>
    <th></th>
  </tr>

  <%= render :partial => 'release', :collection =>  @releases %>

</table>

<br />
