<p>Greetings from BXG,</p>

<p><%= @user_from.full_name %> has submitted the following press release for your consideration.</p>

<p><%= link_to "Click here to view the release", release_pickup_url(@release.id, @media_contact.id) %></p>
release_id, media_contact_id,

<p>Thanks,</p>
<p>Team BXG</p>
