<p>Greetings from BXG,</p>

<p>Following are some questions / notes regarding your release.</p>
<p><%= @notes %></p>
<p <%= link_to 'Click here to edit your release', release_url(@release) %> </p>

<p>Thanks,</p>
<p>Team BXG</p>
