<p>Greetings from BXG,</p>

<p><%= @user_from.full_name %> has sent you the following message:</p>

<p><%= @message.message %></p>

<p><%= link_to "Click here to reply to the message", media_contact_message_url(@message) %></p>
release_id, media_contact_id,

<p>Thanks,</p>
<p>Team BXG</p>
