<h1>Message Pickup</h1>

<%= @media_contact_message.message %><br /><br />

<%= link_to "Reply", new_release_media_list_media_contact_message_path(@media_contact_message.release, @media_contact_message.media_list) %>